langgraph==0.5.3
langchain-community==0.3.14
fastapi>=0.110.0
uvicorn>=0.27.1
pydantic>=2.10.0
python-dotenv>=1.0.1
jinja2>=3.0.2
gunicorn==21.2.0
requests>=2.32.0
httpx>=0.25.0
dotenv>=0.9.9
flask-cors==5.0.0
DeFiLlama>=2.0.0
langchain-openai==0.3.7
binance-connector>=3.12.0
scikit-learn>=1.6.0
solana>=0.36.6
ratelimit>=2.0.0
datadog==0.51.0
firebase-admin>=6.7.0
pynacl>=1.5.0
base58>=2.1.1
google-genai>=1.38.0
langchain_google_genai>=2.0.0
aioboto3>=1.38.0
async_lru>=2.0.0
aiolimiter>=1.2.0
pytest-asyncio>=0.21.0
eth-account>=0.13.4
web3>=7.3.0
cachetools>=6.2.4
langchain-mcp-adapters==0.1.14
opengradient==0.9.8
